#blog-podium .blog-podium-first {
    box-shadow: 0px 5px 15px rgb(255, 215, 0);
}
#blog-podium .blog-podium-second {
    box-shadow: 0px 5px 15px rgb(192, 192, 192);
}
#blog-podium .blog-podium-third {
    box-shadow: 0px 5px 15px rgb(205, 127, 50);
}